.slider {
    background: #1d2124;
    overflow: hidden;
}

.slide {
    background: #1d2124;
    height: 35rem;
}

.imgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .sliderImg {
        width: 80vw;
        max-height: 75%;
        max-width: 60%;

        picture > img {
            object-fit: contain !important;
        }
    }
}

.slick-dots {
    bottom: 10px
}


@media only screen and (max-width: 576px) {
    .imgContainer {
        .sliderImg {
            max-height: 100%;
            max-width: 80%;
        }
    }

    .slide {
        height: 15rem;
    }
}